@import "./reset.css";
@import "./fonts.css";

:root {
	--dark-blk: hsl(0, 0%, 12%);
	--cool-white: #e5e8f5;
	--blue: #0000ef;
}

body {
	font-family: "Neue Haas Text";
}

.app {
	padding: 30px;
	background-color: var(--dark-blk);
	height: 100vh;
	display: grid;
	grid-template-columns: max-content auto;
}

h1 {
	font-size: 635px;
	line-height: 438px;
	height: 453px;
	letter-spacing: -20px;
	color: var(--blue);
	opacity: 0.85;
}

.ui {
    width: max-content;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.controls__btn:hover {
	cursor: pointer;
}

.circle {
	width: 118px;
	height: 118px;
	border-radius: 100%;
	color: var(--cool-white);

	display: flex;
	align-items: center;
	justify-content: center;
}

.circle:hover {
    background-color: var(--blue);
}

.circle--outline-blue {
	border: 1px solid var(--blue);
}

.circle--outline-white {
	border: 1px solid var(--cool-white);
}

.circle--fill {
	background-color: var(--blue);
}

.counter {
    position: relative;
}

button {
    background-color: transparent;
}

h3 {
    font-family: "Neue Haas Text";
    font-size: 20px;
    color: var(--cool-white);
}